[user]
	email = jonas.ekstrand@cybercom.com
	name = Jonas Ekstrand
[alias]
	st = status
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	last = log -1 HEAD
	la = log --pretty=format:\"%C(green)%h\\  %Cblue\\ [%cn]%Creset  %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ \" --decorate --date=relative
[core]
	editor = nvim
        autocrlf = false

[color]
	status = always

[core]
	;editor = code-insiders --wait
  editor = nvim
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
	
